<section id="contact">
    <div class="container">
			    <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 wow bounceIn animated headding" data-wow-delay=".1s">
                   <h2>Contáctanos <span>aquí</span></h2>
                   <p>Contáctanos por más info acerca de MixyMaster y nos pondremos en contacto contigo!</p>
               </div>


			</div>

			<div class="row">

				<div class="col-xs-12 col-sm-4 col-md-4 wow bounceIn animated" data-wow-delay=".1s">

					<form action="https://formsubmit.co/emilaino.it@gmail.com" method="POST">
							<div class="form-group wow fadeInUp animated">
								<label for="c_name" class="sr-only">Nombre</label>
								<input type="text" placeholder="Nombre" name="name" class="form-control" id="c_name" required>
							</div>

							<div data-wow-delay=".1s" class="form-group wow fadeInUp animated">
								<label for="c_email" class="sr-only">Email</label>
								<input type="email" placeholder="E-mail" name="email" class="form-control" id="c_email" required>
							</div>

							<div data-wow-delay=".2s" class="form-group wow fadeInUp animated">
								<textarea placeholder="Mensaje" rows="7" name="message" id="c_message" class="form-control" required></textarea>
							</div>

							<button data-wow-delay=".3s" class="btn btn-sm btn-block wow fadeInUp animated mjeBtn" type="submit">Enviar Mensaje</button>
                            <input type="hidden" name="_subject" value="Nuevo contacto MixyMaster!">
                            <input type="hidden" name="_captcha" value="false">                                                      
					</form>

				</div>

                 <div class="col-xs-12 col-sm-4 col-md-4 wow bounceIn animated" data-wow-delay=".6s">

					  <section id="text-15" class="widget widget_text">
					<div class="textwidget">
                        <p>Tel: +598 98 127 134<br>
                        E-mail: <a href="mailto:hola@mixymaster.com">hola@mixymaster</a></p>
                        <a href="https://wa.me/59898127134" target="_blank"><button data-wow-delay=".3s" class="btn btn-sm btn-block wow fadeInUp animated" >Enviar Whatsapp</button></a>
                        </div>
                    </section>

				</div>                
			</div>
		</div>
</section>

