<section id="contact">
    <div class="container">
			    <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 wow bounceIn animated headding" data-wow-delay=".1s">
                   <h2>Contáctanos <span>aquí</span></h2>
                   <p>Contáctanos por más info acerca de MixyMaster y nos pondremos en contacto contigo!</p>
               </div>


			</div>

			<div class="row">

				<div class="col-xs-12 col-sm-4 col-md-4 wow bounceIn animated" data-wow-delay=".1s">

					<form (ngSubmit)="onSubmit(contactForm.value)" #contactForm="ngForm">
							<div class="form-group wow fadeInUp animated">
								<label for="name" class="sr-only">Nombre</label>
								<input type="text" placeholder="Nombre" name="name" class="form-control" id="name" ngModel required>
							</div>

							<div data-wow-delay=".1s" class="form-group wow fadeInUp animated">
								<label for="email" class="sr-only">Email</label>
								<input type="email" placeholder="E-mail" name="email" class="form-control" id="email" ngModel required>
							</div>

							<div data-wow-delay=".2s" class="form-group wow fadeInUp animated">
								<textarea placeholder="Mensaje" rows="7" name="message" id="message" class="form-control" ngModel required></textarea>
							</div>

							<button data-wow-delay=".3s" class="btn btn-sm btn-block wow fadeInUp animated mjeBtn" type="submit">Enviar Mensaje</button>
                                                                           
					</form>

				</div>

                 <div class="col-xs-12 col-sm-4 col-md-4 wow bounceIn animated" data-wow-delay=".6s">

					  <section id="text-15" class="widget widget_text">
					<div class="textwidget">
                        <p>Tel: +598 96 101 340<br>
                        E-mail: <a href="mailto:hola@mixymaster.com" target="_blank">hola@mixymaster</a></p>
                        <a href="https://wa.me/59896101340" target="_blank"><button data-wow-delay=".3s" class="btn btn-sm btn-block wow fadeInUp animated" >Enviar Whatsapp</button></a>
                        </div>
                    </section>

				</div>                
			</div>
		</div>
</section>

