<!-- <div class="navBar" *ngIf="pc">
  <img class="navBarLogo" src="../../../assets/img/logowhite.png" alt="mixymaster logo">
  <ul class="links">
    <li><a class="navBtn" href="">Inicio</a></li>
    <li><a class="navBtn" href="">Sobre Nosotros</a></li>
    <li><a class="navBtn" href="">Contacto</a></li>
    <li *ngIf="!userInfo"><a class="navBtn2" (click)="loginModal()">Ingresar/Registrarse</a></li>
    <li *ngIf="userInfo"><a class="navBtn2" (click)="logout()">Salir</a></li>

  </ul>
  </div> -->

<mat-toolbar [ngClass]="authService.userInfox === undefined ? 'toolbar' : 'toolbar2'">
  <button mat-icon-button color="white" extended aria-label="menu" (click)="sidenav.toggle()" class="menuBtn">
    <mat-icon>menu</mat-icon>
    Menú
  </button>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav [ngClass]="authService.userInfox === undefined ? 'sideNav mat-elevation-z8' : 'sideNav2'">

    <img mat-card-image src="../../../assets/img/logowhite.png" alt="MixyMaster Logo" class="logo">

    <div>
      <p class="pTitle" *ngIf="authService.userInfox">Hola <strong>{{authService.userInfox.nombre}}</strong></p>
      <p class="paraLitt" *ngIf="authService.userInfox">Tienes {{authService.userInfox.creditos}} créditos</p>
      <!-- <button mat-button class="menu-button" (click)="testing()">
        <mat-icon>home</mat-icon>
        <span>Test</span>
      </button> -->

            <mat-divider class="divider"></mat-divider>

      <button mat-button class="menu-button" (click)="main()">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
      <button mat-button class="menu-button" (click)="servicios()">
        <mat-icon>sort</mat-icon>
        <span>Servicios</span>
      </button>
      <button mat-button class="menu-button" (click)="ingenieros()">
        <mat-icon>groups</mat-icon>
        <span>Ingenieros</span>
      </button>

      <mat-divider class="divider"></mat-divider>
      
      <button mat-button class="menu-button" (click)="logged()" *ngIf="authService.userInfox">
        <mat-icon>person</mat-icon>
        <span>Panel de Usuario</span>
      </button>

      <!-- <button mat-button class="menu-button" (click)="cloud()" *ngIf="authService.userInfox">
        <mat-icon>cloud_download</mat-icon>
        <span>Carpeta Personal</span>
      </button> -->

      <button mat-button class="menu-button" (click)="pay()" *ngIf="authService.userInfox">
        <mat-icon>storefront</mat-icon>
        <span>Cotizar Producción</span>
      </button>

      <button mat-button class="menu-button" (click)="credits()" *ngIf="authService.userInfox">
        <mat-icon>payments</mat-icon>
        <span>Comprar Creditos</span>
      </button>

      <mat-divider class="divider"></mat-divider>

       <button mat-button class="menu-button" (click)="logged()">
        <mat-icon>support_agent</mat-icon>
        <span>Contacto</span>
      </button>

      <button mat-button class="menu-button" (click)="faq()">
        <mat-icon>info</mat-icon>
        <span>F.A.Q.</span>
      </button>

      <button *ngIf="!authService.userInfox" mat-button class="menu-button" (click)="loginModal()">
        <mat-icon>account_circle</mat-icon>
        <span>Ingresar/Registro</span>
      </button>

      <button *ngIf="authService.userInfox" mat-button class="menu-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
      </button>

    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
