<img mat-card-image src="https://i.ibb.co/LQwqkg1/red-Carpet.jpg" alt="Consola de audio" class="imgAudio">

<div class="titleDiv">

  <mat-card class="titleCard">
    <mat-card-title><strong>Carrera a la Fama!</strong></mat-card-title>
    <mat-card-title *ngIf="userInfo">Tienes {{userInfo.hits}} Hits</mat-card-title>
    <mat-card-subtitle>Carrera a la Fama aún está en desarrollo. Los beneficios estarán disponibles en un futuro
      próximo. De todas maneras ya puedes ir cosechando Hits.</mat-card-subtitle>

  </mat-card>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <mat-card class="example-card">
        <mat-card-title>PUB</mat-card-title>
        <mat-card-subtitle *ngIf="hits >= 1000">DESBLOQUEADO</mat-card-subtitle>
        <mat-card-subtitle *ngIf="hits < 1000">BLOQUEADO</mat-card-subtitle>
        <mat-card-content *ngIf="hits">
          <img class="premio" *ngIf="hits >= 1000" src="../../assets/1g.png" alt="">
          <img class="premio" *ngIf="hits < 1000" src="../../assets/1p.png" alt="">
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-12 cardDiv">
      <mat-card class="example-card">
        <mat-card-title>CLUB</mat-card-title>
        <mat-card-subtitle *ngIf="hits >= 2000">DESBLOQUEADO</mat-card-subtitle>
        <mat-card-subtitle *ngIf="hits < 2000">BLOQUEADO</mat-card-subtitle>
        <mat-card-content *ngIf="hits">
          <img class="premio" *ngIf="hits >= 2000" src="../../assets/2g.png" alt="">
          <img class="premio" *ngIf="hits < 2000" src="../../assets/2p.png" alt="">
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-3 col-sm-12 cardDiv">
      <mat-card class="example-card">
        <mat-card-title>TEATRO</mat-card-title>
        <mat-card-subtitle *ngIf="hits >= 3000">DESBLOQUEADO</mat-card-subtitle>
        <mat-card-subtitle *ngIf="hits < 3000">BLOQUEADO</mat-card-subtitle>
        <mat-card-content *ngIf="hits">
          <img class="premio" *ngIf="hits >= 3000" src="../../assets/3g.png" alt="">
          <img class="premio" *ngIf="hits < 3000" src="../../assets/3p.png" alt="">
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-3 col-sm-12 cardDiv">
      <mat-card class="example-card">
        <mat-card-title>ARENA</mat-card-title>
        <mat-card-subtitle *ngIf="hits >= 4000">DESBLOQUEADO</mat-card-subtitle>
        <mat-card-subtitle *ngIf="hits < 4000">BLOQUEADO</mat-card-subtitle>
        <mat-card-content *ngIf="hits">
          <img class="premio" *ngIf="hits >= 4000" src="../../assets/4g.png" alt="">
          <img class="premio" *ngIf="hits < 4000" src="../../assets/4p.png" alt="">
        </mat-card-content>
      </mat-card>
    </div>

    <div>

    </div>
  </div>
</div>



<mat-card>
  <mat-card-title class="titleCard">
    F.A.Q.
  </mat-card-title>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Que es Carrera a la Fama?
        </mat-panel-title>
        <!-- <mat-panel-description>
        Ponemos una descripcion?
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>Carrera a la fama es el programa que ofrece Mixymaster para premiar la fidelidad y las producciones de sus
        clientes con numerosos beneficios exclusivos mejorando, de esta manera, la experiencia y generando mayor valor,
        confianza y satisfacción.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo se hace para tener hits?
        </mat-panel-title>
        <!-- <mat-panel-description>
        Ponemos una descripcion?
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>Cada vez que un artista / productor elige los servicios de Mixymaster, genera hits que luego podrá transferir o
        canjear por upgrades de servicio, promociones especiales, producción bonificadas, canje por créditos, a la vez
        que acumular hits permite alcanzar diferentes niveles de estatus que mejoran la experiencia premiando la
        fidelidad de nuestros clientes, permitiéndonos agradecerles la preferencia brindándoles una atención especial y
        personalizada.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo se utilizan los hits?
        </mat-panel-title>
        <!-- <mat-panel-description>
        Ponemos una descripcion?
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>Los hits se pueden utilizar para obtener beneficios como producciones gratuitas, bonificaciones de numero
        pistas, tiempo, servicios de asistencia, coaching personalizado, y otras experiencias relacionadas con los
        servicios que Mixymaster brinda. El programa está en constante desarrollo, y los beneficios se ajustan
        dinámicamente. Esté siempre atento a las noticias que compartimos acerca de los beneficios del programa.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cuánto tiempo duran Los hits de mixymaster?
        </mat-panel-title>
        <!-- <mat-panel-description>
        Ponemos una descripcion?
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>Los hits tienen una vigencia de 12 meses a partir de la fecha de la última producción realizada, en donde se
        haya acumulado 1 o más hits.</p>
      <br>
      <p>Para poder extender el vencimiento de los hits de mixymaster es preciso realizar alguna acumulación de hits.
        Cualquier acumulación extiende la fecha de expiración de todos los hits de la carrera a la fama por 12 meses.
      </p>
    </mat-expansion-panel>
  </mat-accordion>

</mat-card>

<app-sponsors></app-sponsors>
