<img mat-card-image src="https://i.ibb.co/LQwqkg1/red-Carpet.jpg" alt="Consola de audio" class="imgAudio">

<div class="titleDiv">

  <mat-card class="titleCard">
    <mat-card-title><strong>Carrera a la Fama!</strong></mat-card-title>
    <mat-card-title *ngIf="userInfo">Tienes {{userInfo.hits}} Hits</mat-card-title>

  </mat-card>
  <!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile colspan="1" rowspan="1">
      <h2>Carrera a la Fama!</h2>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="userInfo" colspan="1" rowspan="1">
      <h4>Tienes {{userInfo.hits}} Hits</h4>
    </mat-grid-tile>
  </mat-grid-list> -->
</div>

<!-- <mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile colspan="1" rowspan="3"> -->
<mat-card [ngClass]="hits >= 0 ? 'example-card desbloqueado' : 'example-card bloqueado'">
  <mat-card-title>PUB</mat-card-title>
  <mat-card-subtitle *ngIf="hits >= 0">DESBLOQUEADO</mat-card-subtitle>
  <mat-card-subtitle *ngIf="hits < 0">BLOQUEADO</mat-card-subtitle>
  <mat-card-content>
    <p>Te estás iniciando en el mundo de la producción. Empiezas a experimentar ese gusto por el sonido.</p>
    <p>Otro texto motivador a ver con Cesar</p>
  </mat-card-content>
</mat-card>
<!-- </mat-grid-tile> -->

<!-- <mat-grid-tile colspan="1" rowspan="3"> -->
<mat-card [ngClass]="hits >= 5 ? 'example-card desbloqueado' : 'example-card bloqueado'">
  <mat-card-title>CLUB</mat-card-title>
  <mat-card-subtitle *ngIf="hits >= 5">DESBLOQUEADO</mat-card-subtitle>
  <mat-card-subtitle *ngIf="hits < 5">BLOQUEADO</mat-card-subtitle>
  <mat-card-content>
    <p>Ya tienes tus primeras herramientas, tu oido se va amigando con los detalles. Sigue asi!</p>
    <p>Otro texto motivador a ver con Cesar</p>
  </mat-card-content>
</mat-card>
<!-- </mat-grid-tile> -->

<!-- <mat-grid-tile colspan="1" rowspan="3"> -->
<mat-card [ngClass]="hits >= 10 ? 'example-card desbloqueado' : 'example-card bloqueado'">
  <mat-card-title>TEATRO</mat-card-title>
  <mat-card-subtitle *ngIf="hits >= 10">DESBLOQUEADO</mat-card-subtitle>
  <mat-card-subtitle *ngIf="hits < 10">BLOQUEADO</mat-card-subtitle>
  <mat-card-content>
    <p>Te estás convirtiendo en un productor experiente. Ya hasta discutes con propiedad.</p>
    <p>Otro texto motivador a ver con Cesar</p>
  </mat-card-content>
</mat-card>
<!-- </mat-grid-tile> -->

<!-- <mat-grid-tile colspan="1" rowspan="3"> -->
<mat-card [ngClass]="hits >= 20 ? 'example-card desbloqueado' : 'example-card bloqueado'">
  <mat-card-title>ARENA</mat-card-title>
  <mat-card-subtitle *ngIf="hits >= 20">DESBLOQUEADO</mat-card-subtitle>
  <mat-card-subtitle *ngIf="hits < 20">BLOQUEADO</mat-card-subtitle>
  <mat-card-content>
    <p>Nadie puede negar que eres un profesional, y en MixyMaster queremos reconocerlo</p>
    <p>Otro texto motivador a ver con Cesar</p>
  </mat-card-content>
</mat-card>
<!-- </mat-grid-tile>
</mat-grid-list> -->


<mat-card>
  <mat-card-title class="titleCard">
    F.A.Q.
  </mat-card-title>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Que es Carrera a la Fama?
        </mat-panel-title>
        <!-- <mat-panel-description>
        Ponemos una descripcion?
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>Carrera a la fama es el programa que ofrece Mixymaster para premiar la fidelidad y las producciones de sus
        clientes con numerosos beneficios exclusivos mejorando, de esta manera, la experiencia y generando mayor valor,
        confianza y satisfacción.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo se hace para tener hits?
        </mat-panel-title>
        <!-- <mat-panel-description>
        Ponemos una descripcion?
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>Cada vez que un artista / productor elige los servicios de Mixymaster, genera hits que luego podrá transferir o
        canjear por upgrades de servicio, promociones especiales, producción bonificadas, canje por créditos, a la vez
        que acumular hits permite alcanzar diferentes niveles de estatus que mejoran la experiencia premiando la
        fidelidad de nuestros clientes, permitiéndonos agradecerles la preferencia brindándoles una atención especial y
        personalizada.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo se utilizan los hits?
        </mat-panel-title>
        <!-- <mat-panel-description>
        Ponemos una descripcion?
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>Los hits se pueden utilizar para obtener beneficios como producciones gratuitas, bonificaciones de numero
        pistas, tiempo, servicios de asistencia, coaching personalizado, y otras experiencias relacionadas con los
        servicios que Mixymaster brinda. El programa está en constante desarrollo, y los beneficios se ajustan
        dinámicamente. Esté siempre atento a las noticias que compartimos acerca de los beneficios del programa.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cuánto tiempo duran Los hits de mixymaster?
        </mat-panel-title>
        <!-- <mat-panel-description>
        Ponemos una descripcion?
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>Los hits tienen una vigencia de 12 meses a partir de la fecha de la última producción realizada, en donde se
        haya acumulado 1 o más hits.</p>
      <br>
      <p>Para poder extender el vencimiento de los hits de mixymaster es preciso realizar alguna acumulación de hits.
        Cualquier acumulación extiende la fecha de expiración de todos los hits de la carrera a la fama por 12 meses.
      </p>
    </mat-expansion-panel>
  </mat-accordion>

</mat-card>
