.example-card {
    margin: 5px;
    text-align: center;
    height: 350px;
}

/* .desbloqueado {
    background-color: green;
}

.bloqueado {
    background-color: grey;
} */

.titleDiv {
    padding: 30px;
}

.img {
    object-fit: scale-down
}

mat-slider {
  width: 100%;
}

.imgAudio {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin: 0 !important;
}

.titleCard {
    text-align: center;
}

.premio {
    max-height: 200px;
    width: auto;
}