<mat-card *ngIf="userInfo" class="userCard">
  <mat-card-title>
    Panel de Usuario
  </mat-card-title>

  <mat-card-header class="header1">
    <mat-card-title>Hola {{userInfo.nombre}}</mat-card-title>
    <mat-card-subtitle class="email">E-mail: {{userInfo.email}}</mat-card-subtitle>
    <mat-card-subtitle class="email">Saldo disponible en tu cuenta: {{userInfo.creditos}} USD<button class="payBtn" (click)="toCredits()"><mat-icon class="iconPay">payments</mat-icon></button></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p *ngIf="preProductions.length === 0">No tienes Cotizaciones Guardadas </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button (click)="pay()">Nueva Producción</button>
  </mat-card-actions>
</mat-card>


<mat-card *ngIf="productions.length > 0" class="cardTableTitle">
  <mat-card-header>
    <mat-card-title>Producciones en curso</mat-card-title>
  </mat-card-header>

  <mat-grid-list cols="5" rowHeight="30px">
    <mat-grid-tile class="subTitle">Fecha</mat-grid-tile>
    <mat-grid-tile class="subTitle">Nombre</mat-grid-tile>
    <mat-grid-tile class="subTitle">Servicio</mat-grid-tile>
    <mat-grid-tile class="subTitle">Estado</mat-grid-tile>
    <mat-grid-tile class="subTitle">Detalles</mat-grid-tile>
  </mat-grid-list>
    <mat-divider></mat-divider>
      <mat-grid-list *ngFor="let prod of productions" cols="5" rowHeight="35px">
    <mat-grid-tile class="prodData">{{prod.fecha}}</mat-grid-tile>
    <mat-grid-tile class="prodData">{{prod.nombre}}</mat-grid-tile>
    <mat-grid-tile class="prodData">{{prod.data.servicio}}</mat-grid-tile>
    <mat-grid-tile class="prodData">{{prod.estado}}</mat-grid-tile>
    <mat-grid-tile (click)="openProd(prod)"><mat-icon>remove_red_eye</mat-icon></mat-grid-tile>
  </mat-grid-list>
</mat-card>

<mat-card *ngIf="preProductions.length > 0" class="cardTableTitle">
  <mat-card-header>
    <mat-card-title>Pre producciones cotizadas</mat-card-title>
  </mat-card-header>

  <mat-grid-list cols="7" rowHeight="30px">
    <mat-grid-tile class="subTitle">Fecha</mat-grid-tile>
    <mat-grid-tile class="subTitle">Nombre</mat-grid-tile>
    <mat-grid-tile class="subTitle">Servicio</mat-grid-tile>
    <mat-grid-tile class="subTitle">Estado</mat-grid-tile>
    <mat-grid-tile class="subTitle">Precio Créditos</mat-grid-tile>
    <mat-grid-tile class="subTitle">Contratar</mat-grid-tile>
    <mat-grid-tile class="subTitle">Eliminar</mat-grid-tile>
  </mat-grid-list>
    <mat-divider></mat-divider>
      <mat-grid-list *ngFor="let prod of preProductions" cols="7" rowHeight="35px">
    <mat-grid-tile class="prodData">{{prod.fecha}}</mat-grid-tile>
    <mat-grid-tile class="prodData">{{prod.nombre}}</mat-grid-tile>
    <mat-grid-tile class="prodData">{{prod.data.servicio}}</mat-grid-tile>
    <mat-grid-tile class="prodData">{{prod.estado}}</mat-grid-tile>
    <mat-grid-tile class="prodData">{{prod.precio}}</mat-grid-tile>
    <mat-grid-tile class="success" (click)="contratar(prod)"><mat-icon>payments</mat-icon></mat-grid-tile>
    <mat-grid-tile class="danger" (click)="del(prod)"><mat-icon>delete</mat-icon></mat-grid-tile>
  </mat-grid-list>
</mat-card>

<mat-card *ngIf="productions.length == 0" class="cardTableTitle">
  <mat-card-header>
    <mat-card-title>No tienes Producciones Activas</mat-card-title>
  </mat-card-header>
</mat-card>

<mat-card *ngIf="preProductions.length == 0" class="cardTableTitle">
  <mat-card-header>
    <mat-card-title>No tienes Cotizaciones Guardadas</mat-card-title>
  </mat-card-header>
</mat-card>

<app-sponsors></app-sponsors>