h3 {
    font-size: 20px;
}

.email {
    font-size: 16px;
}

.userCard{
    margin-bottom: 30px;
    text-align: center;
}

.header1 {
    display: block;
}

.prodTitle{
    margin-left: 16px;
}
.prodSubtitle {
    font-weight: bold;
}

.prods{
    margin-top: 5px;
}

table {
  width: 100%;
}

.prodTable {
    margin-bottom: 30px;
}

.cardTableTitle {
    box-shadow: none;
    padding-bottom: 0;
}

.tableHeaders {
    padding-left: 14px;
}

.subTitle {
    color: gray;
    font-size: 14px;
}

.prodData {
    font-size: 14px;
}

.success {
    color: rgb(23, 196, 23);
}

.danger {
    color: red
}