<div class="modalDiv">

  <mat-card class="card">
    <button mat-button mat-dialog-close class="closeBtn">x</button>
    <div class="imgDiv">
      <img class="img" src="{{card.img}}" alt="">
      <img class="flag" *ngIf="card.flag" src="{{card.flag}}" alt="Bandera">
    </div>

    <mat-card-title>{{card.nombre}}</mat-card-title>
    <mat-card-subtitle>{{card.sub}}</mat-card-subtitle>
    <mat-card-content class="content">
      <mat-tab-group mat-align-tabs="start">

        <mat-tab label="Bio" class="matTab">
          <div class="div1">
            <h5>Biografía</h5>
            <p>{{card.bio}}</p>
            <hr>
            <h5>Créditos</h5>
            <p>{{card.creditos}}</p>
          </div>

        </mat-tab>

        <mat-tab label="Producciones" class="matTab">
          <div *ngFor="let vid of card.vids" class="videoContainer">
            <iframe width="100%" [src]="vid | safe: 'resourceUrl'" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
              class="videos"></iframe>
          </div>

        </mat-tab>

        <mat-tab label="Galería" class="matTab">


          <swiper #swiper [slidesPerView]="1" [autoplay]="true" [keyboard]="true" [navigation]="true" [pagination]="true" [zoom]="false" class="swiper">

            <ng-template swiperSlide *ngFor="let img of card.imagenes" class="swiper-slide">
              <img src="{{img}}" alt="" class="imgs">
            </ng-template>
<!-- 

            <button (click)="slideNext()">Next slide</button>
    <button (click)="slidePrev()">Prev slide</button> -->

          </swiper>

        </mat-tab>
      </mat-tab-group>
    </mat-card-content>

    <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->

  </mat-card>
</div>
