<!-- <h4 class="title">Preguntas y respuestas:</h4> -->
   <mat-panel-title class="title">
          Preguntas y respuestas:
        </mat-panel-title>
<mat-expansion-panel>
      
  <mat-expansion-panel-header>
    <mat-panel-title class="panelTitle">
      Qué tan buenos son mezclando?
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>Somos
    un grupo de ingenieros
    referentes en America Latina, Ingenieros profesionales, amantes de la música
    con mas de 20 años de experiencia en lo que hacemos. Somos ganadores de númerosos
    galardones con artistas latinos en nuestros países y en el exterior. Trabajamos con los principales artistas de
    nuestros países y
    región con proyección internacional. Vivimos y respiramos música a diario, y deseamos volcar nuestra experiencia
    para llevar tu música a su máximo nivel</p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="panelTitle">
      Quienes son los ingenieros en Mixymaster?
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p> 
    Somos un núcleo formado por ingenieros profesionales y referentes indiscustidos en la producción musical latinoamericana. No ocultamos nuestros nombres como otros
sitios de mezcla online. Creemos que en nuestros perfiles y nuestra extensa trayectoria y experiencia esta la fuerza
de nuestro aporte a tu música.
Somos Andrés Landinez (COL), Cacho Romero(CHI), Darío Peñaloza(VEN), César
Lamschtein (URU), Mauricio Gargel (BRA), Zeca Leme (BRA), Mario Breuer
(ARG) y la lista sigue creciendo.
  </p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="panelTitle">
      Por qué Mixymaster?
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p> La plataforma virtual Mixymaster, nos permite trabajar desde nuestros estudios
personales y optimizar nuestro tiempo disponible, llegando a mas gente y de esa
forma ofrecer un servicio de máxima calidad por un costo inferior a nuestros cachets
regulares.
  </p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="panelTitle">
      Cómo funciona mixymaster?
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p> 
Elije el servicio de producción que deseas,
crea la orden y envía tus audios según las especificaciones que te enviaremos por mail.
Una vez que tu material está chequeado por un asistente, enviaremos tu música al primer ingeniero disponible o el que tu hayas
elegido. Recibirás una notificación cuando esto ocurra, y en el plazo establecido en el servicio contratado haremos
nuestra magia y recibirás una muestra en formato MP3.
Puedes aprobarla o solicitar cuantas revisiones desees en el trabajo.
Una vez que apruebes el producto final, te enviaremos el producto en alta definición
sin compresión ni marcas de agua como archivo Broadcast WAV (24bit 44.1kHz o superior si asi lo enviaste)
  </p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="panelTitle">
      Cómo creo una orden en mixymaster?
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p> 
Crea tu cuenta en mixymaster.com y completa los datos del cotizador acorde al servicio que hayas seleccionado. Una vez cotizado revisa tu orden y elije
el medio de pago disponible que te sea mas conveniente. Recibirás confirmación de tu orden por mail e instrucciones para subir el material a
nuestro servidor para que comencemos a trabajar en tu música.
  </p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="panelTitle">
      Si algo no me satisfice, tengo derecho a cambios?
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p> Mezclar es un arte, masterizar también, en todo aporte creativo no hay verdades
absolutas y la subjetividad y el gusto están a la orden del día. Lo importante para
nosotros como profesionales es que quedes satisfecho/a, feliz y que siempre superemos tus expectativas. Que te enamores nuevamente de tu música. Ese objetivo
a veces se da naturalmente y a veces necesita de un proceso. Por eso es que todos
nuestros paquetes incluyen SIN COSTO como mínimo 2 instancias de cambios,
incrementando ese número en los paquetes mas exclusivos. Por supuesto, existe la posibilidad de hacer todos los cambios que
requieras con un costo adicional.
  </p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="panelTitle">
      Qué equipos usan?
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p> En Mixymaster amamos los equipos. Todos somos de una época en donde la
producción era realizada sin computadoras. Todos trabajamos en los estudios mas
importantes de nuestros países, región e incluso en el norte.
<br>
Sin embargo...
<br>
Los años de experiencia nos dicen que no son lo importante y mucho menos
indispensables para producir un producto de excelencia. Son tan solo herramientas
que ayudan a cada uno de nosotros, de forma diferente a lograr hacer nuestra tarea
manteniendo la inspiración y eficiencia.
La tecnología digital primero y basada en computadoras y DSP después nos hizo emprender un camino en el que no hay vuelta
atrás. Las posibilidades hoy, son infinitas, maravillosas y la paleta de colores que
disponemos para pintar es muy inspiradora. Combinando estas herramientas con
nuestra experiencia es que aseguramos nuestra calidad de trabajo.
Por eso, el estudio de cada ingeniero es diferente, pero todos llegan al estándar
mas alto de calidad necesario para que tu música pueda ser un éxito.
  </p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="panelTitle">
      Puedo mandar a la fábrica un master hecho por Mixymaster?
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p> 
SI. Podemos compilar un master que cumpla con todas las especificaciones del RED
BOOK en formato físico o enviarte un archivo DDP listo para replicación
si solicitas esta opción.
  </p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="panelTitle">
      Está mi música segura con ustedes?
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p> Tu obra es importante y con nosotros está segura!
Nos comprometemos en guardar total privacidad sobre tu música, de forma total
y/o parcial (tus pistas, tus tomas).
Solo si es tu deseo y si nos autorizas expresamente publicaremos tu música
en nuestros canales.
  </p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="panelTitle">
      A quién pertenece el crédito de mi mezcla?
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p> Los créditos de mezcla variarán según el servicio que contratas (Premium, Gold, Platinum).
En el caso del servicio Premium, los créditos corresponderán a Mixymaster. “mezclado y
masterizado por Mixymaster.com” si así lo deseas estipular o pueden ser tuyos -
no revindicaremos créditos en este tipo de servicio ;) -.
En el caso de los servicios Gold y Platinum, los créditos corresponderán
al ingeniero que tu hayas escogido.
Esto no significa en ningún caso que mixymaster como conjunto o cualquiera de sus ingenieros como individuo tenga derechos patrimoniales
sobre la mezcla de tu música. La mezcla es y será de forma permanente enteramente
de tu propiedad.
  </p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="panelTitle">
      Cuán bien sonará mi música?
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p> 
Somos ingenieros con mas de 20 años de experiencia cada uno y sobre todo con buen gusto!
De todas maneras, sabemos que estamos al servicio del arte y el artista eres tu.
Si tu música es genial, el resultado será increible, si tu música es mas o menos, el
resultado será bueno. No somos magos, aunque muchos así nos consideran!
  </p>
</mat-expansion-panel>

<mat-card>
  <mat-card-title class="titleCard">
    Qué es Carrera a la Fama?
  </mat-card-title>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Qué es Carrera a la Fama?
        </mat-panel-title>
        <!-- <mat-panel-description>
        Ponemos una descripcion?
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>Carrera a la fama es el programa que ofrece Mixymaster para premiar la fidelidad y las producciones de sus
        clientes con numerosos beneficios exclusivos mejorando, de esta manera, la experiencia y generando mayor valor,
        confianza y satisfacción.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo se hace para tener hits?
        </mat-panel-title>
        <!-- <mat-panel-description>
        Ponemos una descripcion?
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>Cada vez que un artista / productor elige los servicios de Mixymaster, genera hits que luego podrá transferir o
        canjear por upgrades de servicio, promociones especiales, producción bonificadas, canje por créditos, a la vez
        que acumular hits permite alcanzar diferentes niveles de estatus que mejoran la experiencia premiando la
        fidelidad de nuestros clientes, permitiéndonos agradecerles la preferencia brindándoles una atención especial y
        personalizada.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo se utilizan los hits?
        </mat-panel-title>
        <!-- <mat-panel-description>
        Ponemos una descripcion?
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>Los hits se pueden utilizar para obtener beneficios como producciones gratuitas, bonificaciones de numero
        pistas, tiempo, servicios de asistencia, coaching personalizado, y otras experiencias relacionadas con los
        servicios que Mixymaster brinda. El programa está en constante desarrollo, y los beneficios se ajustan
        dinámicamente. Esté siempre atento a las noticias que compartimos acerca de los beneficios del programa.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cuánto tiempo duran Los hits de mixymaster?
        </mat-panel-title>
        <!-- <mat-panel-description>
        Ponemos una descripcion?
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>Los hits tienen una vigencia de 12 meses a partir de la fecha de la última producción realizada, en donde se
        haya acumulado 1 o más hits.</p>
      <br>
      <p>Para poder extender el vencimiento de los hits de mixymaster es preciso realizar alguna acumulación de hits.
        Cualquier acumulación extiende la fecha de expiración de todos los hits de la carrera a la fama por 12 meses.
      </p>
    </mat-expansion-panel>
  </mat-accordion>

</mat-card>
