<img *ngIf="preCoti" mat-card-image src="https://i.ibb.co/yBLbPQ9/maxresdefault.jpg" alt="Consola de audio" class="imgAudio">

<div class="gralContainer">

  <div *ngIf="preCoti">

    <h1 class="titulo">Nueva Solicitud / Cotizar producción</h1>
    <!-- <mat-icon class="handshake">handshake</mat-icon> -->

    <div class="formulario">
      <section class="servicio">
        <!-- <h4>Servicio</h4> -->

        <mat-form-field class="example-full-width">
          <mat-label>Como se llama tu produccion</mat-label>
          <input matInput placeholder="Ejemplo: Un Gran Nombre!" [(ngModel)]="produccion.nombre" required>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Cuentanos algo acerca de tu música</mat-label>
          <textarea matInput placeholder="Ejemplo: Es una pieza de bossa and metal indie"
            [(ngModel)]="produccion.descripcion"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">

          <mat-label>Selecione un Servicio</mat-label>
          <mat-select class="radioGroup" [(ngModel)]="cotizacion.servicio">
            <mat-option class="slideBtn radios colorBtn" value="premium">MixyMaster Premium</mat-option>
            <mat-option class="slideBtn radios colorBtn2" value="gold">MixyMaster Gold</mat-option>
            <mat-option class="slideBtn radios colorBtn3" value="platinum">MixyMaster Platinum</mat-option>
            <mat-option class="slideBtn radios colorBtn4" value="coaching">MixyMaster Coaching</mat-option>
            <mat-option class="slideBtn radios colorBtn4" value="inmersivo">MixyMaster Inmersivo</mat-option>
            <mat-option class="slideBtn radios colorBtn4" value="asisstant">MixyMaster Assistant</mat-option>
            <mat-option class="slideBtn radios colorBtn4" value="mixymaster2">MixyMaster<sup>2</sup></mat-option>
          </mat-select>

        </mat-form-field>

      </section>


      <div class="duracionDiv example-full-width"
        *ngIf="cotizacion.servicio === 'premium' || cotizacion.servicio === 'gold' || cotizacion.servicio === 'platinum'">
        <h4>Cuanto dura la canción que quiere mezclar?</h4>
        <mat-slider min="3" max='6' thumbLabel="{{cotizacion.duracion > 5 ? 'false' : 'true'}}" step="1"
          value="cotizacion.duracion" [(ngModel)]="cotizacion.duracion">
          <input matSliderThum>
        </mat-slider>
        <label>
          <span *ngIf="cotizacion.duracion === 3">Duración: 3 minutos o menos</span>
          <span *ngIf="cotizacion.duracion === 4">Duración: entre 3 y 4 minutos</span>
          <span *ngIf="cotizacion.duracion === 5">Duración: entre 4 y 5 minutos</span>
          <span *ngIf="cotizacion.duracion === 6">Duración: más de 5 minutos. Solicite cotización personalizada </span>
        </label>
      </div>


      <div *ngIf="cotizacion.duracion">
        <h4>Cual es la cantidad de pistas de tu proyecto?</h4>
        <mat-slider min="01" max='121' discrete="true" step="1" value="cotizacion.pistas"
          [(ngModel)]="cotizacion.pistas" thumbLabel="{{cotizacion.pistas > 120 ? 'false' : 'true'}}">
          <input matSliderThum>
        </mat-slider>
        <label>Pistas: <span *ngIf="cotizacion.pistas <= 120"> {{cotizacion.pistas}} (+ / - 5 pistas)</span> <span
            *ngIf="cotizacion.pistas > 120"> Más de 120. Solicite cotización personalizada.</span></label>
      </div>

      <hr>

      <div *ngIf="cotizacion.servicio ==='inmersivo'">
        <h4>Especificación del Servicio</h4>
        <mat-radio-group class="radioGroup" [(ngModel)]="inmersiv.tipo">
          <mat-radio-button class="slideBtn radios" value="1">Espacializacion a partir de Stereo</mat-radio-button>
          <mat-radio-button class="slideBtn radios" value="2">Mezcla a partir de Stems</mat-radio-button>
          <mat-radio-button class="slideBtn radios" value="3">Mezcla original (a partir de pistas)</mat-radio-button>
        </mat-radio-group>

      </div>

      <div *ngIf="cotizacion.servicio ==='mixymaster2'">
        <h4>Especificación del Servicio</h4>
        <mat-radio-group class="radioGroup" [(ngModel)]="mixym2.tipo">
          <mat-radio-button class="slideBtn radios" value="1">Plataformas Digitales (Logos plataformas)</mat-radio-button>
          <mat-radio-button class="slideBtn radios" value="2">CD</mat-radio-button>
          <mat-radio-button class="slideBtn radios" value="3">LP Vinilo</mat-radio-button>
          <mat-radio-button class="slideBtn radios" value="4">EP Vinilo 12"</mat-radio-button>
          <mat-radio-button class="slideBtn radios" value="5">Single Vinilo 7"</mat-radio-button>
        </mat-radio-group>

        <h4>Cual es la cantidad de canciones de tu proyecto?</h4>
        <mat-slider min="01" max='12' discrete="true" step="1" value="mixim2.pistas" [(ngModel)]="mixym2.pistas">
          <input matSliderThum>
        </mat-slider>
        <p>{{mixym2.pistas}}</p>

      </div>

      <div *ngIf="cotizacion.servicio ==='asisstant'">

        <h4>Especificación del Servicio</h4>
        <mat-radio-group class="radioGroup" [(ngModel)]="asisstant.servicio">
          <mat-radio-button class="slideBtn radios" value="1">Afinación</mat-radio-button>
          <mat-radio-button class="slideBtn radios" value="2">Edición Rítmica de Batería</mat-radio-button>
          <mat-radio-button class="slideBtn radios" value="3">Edición Rítmica de otros instrumentos</mat-radio-button>
          <mat-radio-button class="slideBtn radios" value="4">Drums Replacement</mat-radio-button>
        </mat-radio-group>



        <mat-slider min="01" max='121' discrete="true" step="1" value="asisstant.pistas" [(ngModel)]="asisstant.pistas"
          *ngIf="asisstant.servicio !== '' && asisstant.servicio !== '2'" thumbLabel="true">
          <input matSliderThum>
        </mat-slider>
        <label *ngIf="asisstant.servicio !== '' && asisstant.servicio !== '2'">Pistas: <span
            *ngIf="asisstant.pistas <= 120">{{asisstant.pistas}}</span> <span *ngIf="asisstant.pistas > 120"> Más de
            120</span></label>

        <mat-slider min="0" max='5' discrete="true" step="0.5" value="asisstant.tiempo" [(ngModel)]="asisstant.tiempo"
          *ngIf="asisstant.servicio !== ''" thumbLabel="true">
          <input matSliderThum>
        </mat-slider>
        <label *ngIf="asisstant.servicio !== ''">Duración: <span
            *ngIf="asisstant.tiempo <= 120">{{asisstant.tiempo}}</span> <span *ngIf="asisstant.tiempo > 5"> Más de
            5</span> minutos</label>


      </div>

      <div
        *ngIf="cotizacion.servicio === 'premium' || cotizacion.servicio === 'gold' || cotizacion.servicio === 'platinum'">
        <section *ngIf="cotizacion.pistas">
          <h4>Activamos el modo Obsesivo?</h4>
          <mat-slide-toggle [(ngModel)]="cotizacion.obsesivo">Modo Obsesivo <span *ngIf="cotizacion.obsesivo">ON</span>
          </mat-slide-toggle>
          <br>
          <label *ngIf="cotizacion.obsesivo" class="lowlabel">Autotune, Edicion rítmica, Drum Replacement, 3 revisiones
            adicionales adicionales a las incluidas en el plan</label>

        </section>


        <section *ngIf="cotizacion.pistas">
          <hr>
          <form class="form-horizontal">
            <h4>El servicio seleccionado incluye la mezcla masterizada. Deseas entregas adicionales?</h4>

            <mat-slide-toggle class="slideBtn" [(ngModel)]="cotizacion.noVox">Mezcla Instrumental (sin vocales)
            </mat-slide-toggle>
            <mat-slide-toggle class="slideBtn" [(ngModel)]="cotizacion.capella">A Capella (Solo vocales)
            </mat-slide-toggle>
            <mat-slide-toggle class="slideBtn" [(ngModel)]="cotizacion.stems">Stems
            </mat-slide-toggle>
            <div *ngIf="cotizacion.stems">
              <hr>
              <mat-slide-toggle class="slideBtn" [(ngModel)]="cotizacion.stemsDetail.drums">Batería</mat-slide-toggle>
              <mat-slide-toggle class="slideBtn" [(ngModel)]="cotizacion.stemsDetail.perc">Percusión</mat-slide-toggle>
              <mat-slide-toggle class="slideBtn" [(ngModel)]="cotizacion.stemsDetail.guit">Guitarras</mat-slide-toggle>
              <mat-slide-toggle class="slideBtn" [(ngModel)]="cotizacion.stemsDetail.bass">Bajo</mat-slide-toggle>
              <mat-slide-toggle class="slideBtn" [(ngModel)]="cotizacion.stemsDetail.keys">Teclados</mat-slide-toggle>
              <mat-slide-toggle class="slideBtn" [(ngModel)]="cotizacion.stemsDetail.bronces">Bronces</mat-slide-toggle>
              <mat-slide-toggle class="slideBtn" [(ngModel)]="cotizacion.stemsDetail.mainVoice">Voz Principal
              </mat-slide-toggle>
              <mat-slide-toggle class="slideBtn" [(ngModel)]="cotizacion.stemsDetail.bkgVoice">Coros
              </mat-slide-toggle>
              <mat-slide-toggle class="slideBtn" [(ngModel)]="cotizacion.stemsDetail.others">Otros</mat-slide-toggle>
              <hr>
            </div>
            <mat-slide-toggle class="slideBtn" [(ngModel)]="cotizacion.noMaster">Mezcla sin Masterizar
            </mat-slide-toggle>
            <mat-slide-toggle class="slideBtn" [(ngModel)]="cotizacion.atmos">Mezcla Inmersiva (Dolby Atmos)
            </mat-slide-toggle>
          </form>

          <div class="example-button-row" *ngIf="cotizacion.pistas <= 120 && cotizacion.duracion <= 5">
            <button mat-raised-button color="accent" class="cotiBtn" (click)="coti()" [disabled]="!produccion.nombre">
              <mat-icon>payments</mat-icon>
              Cotizar
            </button>
          </div>

          <div class="example-button-row" *ngIf="cotizacion.pistas > 120 || cotizacion.duracion > 5">
            <button mat-raised-button color="accent" class="cotiBtn2" (click)="cotiPersonalizada()">
              <mat-icon>payments</mat-icon>
              Solicitar Cotización personalizada
            </button>
          </div>

        </section>


      </div>

      <div class="coachingDiv">
        <div *ngIf="cotizacion.servicio === 'coaching'">
          <h4>Duracion de la Sesión (horas)</h4>
          <mat-slider min="0" max='5.5' discrete="true" step="0.5" value="coachingId.duracion"
            [(ngModel)]="coachingId.duracion" thumbLabel="true">
            <input matSliderThum>
          </mat-slider>
          <label>Duracion: <span *ngIf="coachingId.duracion <= 5">{{coachingId.duracion}}</span> <span
              *ngIf="coachingId.duracion > 5"> Mas de 5</span> horas</label>
        </div>
      </div>

      <div class="example-button-row" *ngIf="cotizacion.servicio === 'coaching'">
        <button mat-raised-button color="accent" class="cotiBtn" (click)="coaching()" [disabled]="!produccion.nombre">
          <mat-icon>payments</mat-icon>
          Cotizar
        </button>
      </div>

      <div class="example-button-row" *ngIf="cotizacion.servicio === 'inmersivo'">
        <button mat-raised-button color="accent" class="cotiBtn" (click)="inmersivo()" [disabled]="!produccion.nombre">
          <mat-icon>payments</mat-icon>
          Cotizar
        </button>
      </div>

      <div class="example-button-row" *ngIf="cotizacion.servicio === 'asisstant'">
        <button mat-raised-button color="accent" class="cotiBtn" (click)="asisst()" [disabled]="!produccion.nombre">
          <mat-icon>payments</mat-icon>
          Cotizar
        </button>
      </div>


      <div class="example-button-row" *ngIf="cotizacion.servicio === 'mixymaster2'">
        <button mat-raised-button color="accent" class="cotiBtn" (click)="mm2()" [disabled]="!produccion.nombre">
          <mat-icon>payments</mat-icon>
          Cotizar
        </button>
      </div>
    </div>

  </div>

  <!----------------------------------------- Resultado de Cotizacion ---------------------------------------->


  <!-- <mat-card class="cotiCard" *ngIf="cotiCard"> -->


  <mat-card class="cotiCard" *ngIf="cotiCard">

    <mat-card-header class="centerLogo">
      <img class="logoCoti" src="../../../assets/img/logo.png" alt="">
    </mat-card-header>
    <hr>
    <mat-card-header class="centerLeft">
      <hr>
      <mat-card-title class="cotiServiceTitle">Cotización del Servicio</mat-card-title>


      <mat-card-subtitle
        *ngIf="cotizacion.servicio ==='premium' || cotizacion.servicio ==='gold' || cotizacion.servicio ==='platinum'">
        Servicio
        <span *ngIf="cotizacion.servicio ==='premium'">Premium</span>
        <span *ngIf="cotizacion.servicio ==='gold'">Gold</span>
        <span *ngIf="cotizacion.servicio ==='platinum'">Platinum</span>
        : <span>.....................................</span> Créditos {{price.servicio}}
      </mat-card-subtitle>

      <mat-card-subtitle
        *ngIf="cotizacion.servicio ==='coaching' || cotizacion.servicio ==='inmersivo' || cotizacion.servicio ==='asisstant' || cotizacion.servicio ==='mixymaster2'">
        <span *ngIf="cotizacion.servicio ==='coaching'">Coaching: <span>.....................................</span> Créditos
          {{coachingId.precio}}</span>
        <span *ngIf="cotizacion.servicio ==='inmersivo'">Inmersivo: <span>.....................................</span>
          {{inmersiv.mje}}</span>
        <span *ngIf="cotizacion.servicio ==='asisstant'">Asisstant: <span>.....................................</span>
          Créditos {{asisstant.precio}}</span>
        <span *ngIf="cotizacion.servicio ==='mixymaster2'">MixyMaster<sup>2</sup>.............................. Créditos
          {{mixym2.precio}}</span>
      </mat-card-subtitle>

      <mat-card-subtitle *ngIf="price.duracion">Adicional por duración (hasta 3 minutos sin costo extra):
        <span>...............</span> + Créditos {{price.duracion}}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="!price.duracion">Adicional por duración (hasta 3 minutos sin costo extra):
        <span>...............</span> + Créditos 0
      </mat-card-subtitle>

      <mat-card-subtitle *ngIf="cotizacion.pistas">Adicional por cantidad de Pistas
        <span *ngIf="cotizacion.servicio ==='premium'">(hasta 24 sin costo extra)</span>
        <span *ngIf="cotizacion.servicio ==='gold'">(hasta 40 sin costo extra)</span>
        <span *ngIf="cotizacion.servicio ==='platinum'">(hasta 100 sin costo extra)</span>
        : <span>.....................................</span> + Créditos {{price.pistas}}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="cotizacion.obsesivo">Modo Obsesivo ON:
        <span>.....................................</span> + Créditos {{precioObsesivo}}</mat-card-subtitle>

      <mat-card-header>
        <mat-card-subtitle
          *ngIf="cotizacion.noVox || cotizacion.capella || cotizacion.stems|| cotizacion.noMaster || cotizacion.atmos">
          Adicionales</mat-card-subtitle>
        <mat-card-subtitle *ngIf="cotizacion.noVox">No Vocals: <span>.....................................</span> + Créditos
          {{price.noVox}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="cotizacion.capella">A Capella: <span>.....................................</span> +
          Créditos {{price.capella}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="cotizacion.stems">Stems: <span>.....................................</span> + Créditos
          {{price.stems}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="cotizacion.noMaster">No Mastering: <span>.....................................</span>
          + Créditos {{price.noMaster}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="cotizacion.atmos">Atmos: <span>.....................................</span> + Créditos
          {{price.atmos}}</mat-card-subtitle>
      </mat-card-header>


    </mat-card-header>

    <hr>

    <mat-card-header class="centerLeft">
      <mat-card-title
        *ngIf="cotizacion.servicio ==='premium' || cotizacion.servicio ==='gold' || cotizacion.servicio ==='platinum'">
        Precio final: <span>.....................................</span> Créditos {{price.total}}
      </mat-card-title>

      <mat-card-title *ngIf="cotizacion.servicio ==='coaching'">
        Precio final: <span>.....................................</span> Créditos {{coachingId.precio}}
      </mat-card-title>

      <mat-card-title *ngIf="cotizacion.servicio ==='inmersivo'">
        Precio final: <span>.....................................</span> {{inmersiv.mje}}
      </mat-card-title>

      <mat-card-title *ngIf="cotizacion.servicio ==='asisstant'">
        Precio final: <span>.....................................</span> Créditos {{asisstant.precio}}
      </mat-card-title>
      <mat-card-title *ngIf="cotizacion.servicio ==='mixymaster2'">
        Precio final: <span>.....................................</span> Créditos {{mixym2.precio}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <button mat-button color="warn" (click)="volver()">Volver a Cotizar</button>
    </mat-card-content>

    <mat-card-content>

      <mat-card-subtitle>GARANTIA DE CONFORMIDAD</mat-card-subtitle>

      <p class="garantia">
        <strong>En mixymaster estas protegido.</strong>
        La cotización de este servicio y el pago por el usuario quedan
        sujetos a revisión una vez subidos los archivos.
        En caso de encontrarse una discrepancia, el usuario será notificado ya sea para procesar
        el rembolso (menos los gastos operativos), o abonar la diferencia que correspondiere.
      </p>

      <p>
        <mat-checkbox [(ngModel)]="conforme">Estoy de acuerdo con la cotización y condiciones.</mat-checkbox>
      </p>
    </mat-card-content>

  </mat-card>


  <div class="payDinamic" [ngClass]="{
    'payDinamic': conforme === false,
   'payDinamic2': conforme === true
  }">
    <h4 *ngIf="cotiCard">Contratar Servicio</h4>
    <!-- <div class="paypalcontent">
      <div #paypal class="paypalBtnContainer"></div>
    </div> -->

    <button mat-raised-button color="accent" class="preCotibtn" (click)="paypalFunc()">Debitar Creditos</button>

    <h4 class="preCotiTxt">Necesito pensarlo mejor...</h4>
    <button mat-raised-button color="accent" (click)="setPreProduction()" class="preCotibtn">Guardar Cotización</button>
  </div>

<button mat-raised-button color="accent" (click)="mail()" class="preCotibtn">Probar Mail</button>
</div>
