
.paypalBtnContainer {
  max-width: 450px;
  display: inline-block;
}

.payDinamic {
  display: none;
}

.payDinamic2 {
  display: inline-block;
}

.formulario {
    margin-top: 50px;
}

.slideBtn {
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;
}

.paypalcontent {
  display: flex;
  justify-content: center;
}

.radioGroup {
 text-align: center;
}

.cotiBtn{
width: 150px;
border-radius: 15px;
height: auto;
margin: 30px;
}

.cotiBtn2{
border-radius: 15px;
height: auto;
margin: 30px;
}

.mat-slider {
    display: block;
    max-width: 350px;
    margin: auto;
}

.gralContainer {
  text-align: center;
  width: 90%;
  margin: auto;
}

.cotiCard {
    text-align: center;
    margin: 30px;
    margin-top: 30px;
}

mat-card-header{
    flex-direction: column;
}

.duracionDiv{
    margin-bottom: 40px;
}

.garantia{
  color: #908f8f;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.titulo {
  padding-top: 30px;
}
.lowlabel {
  color: grey;
  font-size: 15px;
}
.handshake {
  font-size: 100px;
  height: 100px;
  width: 100px;
}

.colorBtn {
  background-color: #E6B325;
}
.colorBtn2 {
  background-color: #FFF9CA;
}
.colorBtn3 {
  background-color: #A5C9CA;
}
.colorBtn4 {
  background-color: #FCF8E8;
}

.colorBtn:hover, .colorBtn2:hover, .colorBtn3:hover, .colorBtn4:hover {
  background-color: #ffc107;
}

.preCotibtn {
  margin-bottom: 30px;
}

.preCotiTxt {
  margin-top: 50px;
}