<div class="loginDiv">

  <mat-card class="card">
    <div>

      <button mat-button mat-dialog-close class="closeBtn">x</button>

      <mat-spinner *ngIf="loading" color="primary" class="spinner"></mat-spinner>

      <mat-tab-group class="matTab" *ngIf="!forgot && !loading">
        <mat-tab label="Ingresar">

          <mat-card-title class="title">Login</mat-card-title>
          <mat-card-content>
            <form [formGroup]="formLog" (ngSubmit)="login()">
              <p>
                <mat-form-field>
                  <input type="text" matInput placeholder="email" formControlName="email" required>
                </mat-form-field>
              </p>


              <p>
                <mat-form-field>
                  <input [type]="hide ? 'password' : 'text'" matInput placeholder="Contraseña"
                    formControlName="password" required>
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </p>

              <a (click)="forgotChange()">Recuperar Contraseña</a>

              <div class="button">
                <button type="submit" mat-button>Ingresar</button>
              </div>

            </form>
          </mat-card-content>
        </mat-tab>


        <mat-tab label="Registrarse" *ngIf="!loading">
          <mat-card-title class="title">Registro</mat-card-title>
          <mat-card-content>


            <form [formGroup]="formReg" (ngSubmit)="register()">

              <p>
                <mat-form-field class="">
                  <mat-label>Nombre</mat-label>
                  <input type="text" matInput placeholder="Ingrese su Nombre" formControlName="nombre" required>
                </mat-form-field>
              </p>

              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>Apellido</mat-label>
                  <input type="text" matInput placeholder="Ingrese su Apellido" formControlName="apellido" required>
                </mat-form-field>
              </p>

              <p>
                <mat-form-field>
                  <input type="text" matInput placeholder="email" formControlName="email" [(ngModel)]="email" required>
                  <mat-error *ngIf="formReg.addAsyncValidators">Ingrese un email válido</mat-error>
                </mat-form-field>
              </p>

              <p>
                <mat-form-field>
                  <input type="text" matInput placeholder="Repita su email" formControlName="email2" [(ngModel)]="email2" required>
                  <mat-error *ngIf="formReg.addAsyncValidators">Ingrese un email válido</mat-error>
                </mat-form-field>
              </p>

              <p>
                <mat-form-field>
                  <input [type]="hide ? 'password' : 'text'" matInput placeholder="Contraseña"
                    formControlName="password" required #pw>
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="formReg.addAsyncValidators">Su contraseña debe tener 8 carácteres como mínimo
                  </mat-error>
                </mat-form-field>
              </p>

              <div class="button">
                <button type="submit" mat-button *ngIf="formReg.valid">Registrar Cuenta</button>
              </div>

            </form>
          </mat-card-content>

        </mat-tab>


      </mat-tab-group>
    </div>


    <mat-card-title class="title2" *ngIf="forgot">Recuperar Contraseña</mat-card-title>
    <mat-card-content>


      <form *ngIf="forgot">

        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="email" [(ngModel)]="recEmail" required>
          </mat-form-field>
        </p>

        <a (click)="forgotChange()" class="title">Volver al Login</a>
        <div class="button">
          <button (click)="resetPass()" mat-button>Recuperar Contraseña</button>
        </div>
      </form>
    </mat-card-content>


  </mat-card>

</div>
