.title {
  margin-top: 20px;
}

.steper {
  height: 100%;
}

.parag {
  font-size: 15px;
}

.img {
  object-fit: cover;
  height: 150px;
  width: 150px;
  margin: 0;
  margin-bottom: 50px;
}

.imgBack {
  object-fit: cover;
  height: 200px;
  width: 200px;
  margin: 0;
  margin-bottom: 50px;
  display: none;
}

.spanHidden {
  display: none;
}

.matDiv:hover .spanHidden {
  display: block;
}

.matDiv {
  text-align: center;
  margin: 30px 0 30px 0;
}

.matDiv:hover {
  transform: scale(1.1);
}

.matDiv:hover .img {
  display: none;
}
.matDiv:hover .pmenu {
  font-size: 12px;
}

.matDiv:hover .imgBack {
  display: inline-block;
}

.matmenu {
  height: fit-content
}

.pmenu {
  overflow: inherit !important;
}

mat-card {
  height: 350px;
}