<div class="container how">
  <h2 class="title">Como funciona?</h2>

  <div class="row">

    <div class="col-md-3 col-sm-12 matDiv">
      <mat-card matTooltip="Registrate en nuestra plataforma!">
        <img src="../../../assets/img/1.png" alt="" class="img">
      </mat-card>
    </div>

    <div class="col-md-3 col-sm-12 matDiv">
      <mat-card matTooltip="Selecciona el servicio que te interesa!">
        <img src="../../../assets/img/2.png" alt="" class="img">
      </mat-card>
    </div>

    <div class="col-md-3 col-sm-12 matDiv">
      <mat-card matTooltip="Completa el formulario, para poder cotizar el costo de tu producción!">
        <img src="../../../assets/img/3.png" alt="" class="img">
      </mat-card>
    </div>

    <div class="col-md-3 col-sm-12 matDiv">
      <mat-card matTooltip="Completa el proceso de pago!">
        <img src="../../../assets/img/4.png" alt="" class="img">
      </mat-card>
    </div>

    <div class="col-md-3 col-sm-12 matDiv">
      <mat-card matTooltip="Luego de enviarnos los archivos, comenzaremos con nuestro trabajo!">
        <img src="../../../assets/img/5.png" alt="" class="img">
      </mat-card>
    </div>

    <div class="col-md-3 col-sm-12 matDiv">
      <mat-card matTooltip="Podrás hacer las correcciones necesarias hasta obtener el resultado esperado!">
        <img src="../../../assets/img/6.png" alt="" class="img">
      </mat-card>
    </div>

    <div class="col-md-3 col-sm-12 matDiv">
      <mat-card matTooltip="Una vez finalizado, te enviamos el archivo final en su máxima calidad.">
        <img src="../../../assets/img/7.png" alt="" class="img">
      </mat-card>
    </div>

    <div class="col-md-3 col-sm-12 matDiv">
      <mat-card matTooltip="De manera opcional puedes contratar tambien el respaldo de tu trabajo!">
        <img src="../../../assets/img/8.png" alt="" class="img">
      </mat-card>
    </div>

  </div>


</div>
