.header {
    text-align: center;
    display: block;
}

.example-full-width {
  width: 100%;
}

.paypalcontent{
    justify-content: center;
    display: flex;
    margin-top: 100px;
}

.margin {
  margin-right: 30px;
}